<div class="author">
  <div class="author-avatar-wrapper">
    <img class="author-avatar" height="70" width="70" src="{{ site.author.avatar }}" alt="{{ site.author.username }}" />
    {%- if site.author.open_to_work -%}
    <a target="_blank" rel="noopener" href="mailto:{{site.author.email}}?cc=justharpi@gmail.com" aria-label="Open To Work"
      class="author-status"></a>
    {%- endif -%}
  </div>
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>